services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: snippet-manager-dev
    ports:
      - "3000:3000"
    volumes:
      - .:/app # mount code từ host
      - node_modules:/app/node_modules # named volume, tránh bị đè
      - next_cache:/app/.next # named volume cho cache
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
    restart: unless-stopped

volumes:
  node_modules:
  next_cache:
