@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    ui-sans-serif,
    system-ui,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
}

.wrap-editor .react-resizable-handle {
  width: 1px !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  right: 0;
  background: #555;
  cursor: e-resize !important;
  z-index: 20;
  background-image: none !important;
  transform: none;
  margin-top: 0;
  opacity: 0;
}

.wrap-editor .react-resizable-handle:hover {
  opacity: 1;
}

.wrap-console .react-resizable-handle {
  height: 1px !important;
  width: 100% !important;
  position: absolute;
  cursor: n-resize !important;
  z-index: 20;
  background-image: none !important;
  transform: none;
  left: auto;
  margin-left: 0;
}

button {
  cursor: pointer;
  font-family: inherit;
}
